<div class="container">
  <div class="row">
    <form class="form-group" [formGroup]="applicationGroup" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label class="center-block col-md-12">
          <input class="form-control"
                 placeholder="Imie"
                 formControlName="firstName">
        </label>
        <label class="center-block col-md-12">
          <input class="form-control"
                 placeholder="Nazwisko"
                 formControlName="lastName">
        </label>
        <label class="center-block col-md-12">
          <input class="form-control"
                 placeholder="Rok urodzenia"
                 formControlName="yearOfBirth">
        </label>
        <label class="center-block col-md-12">
          <input class="form-control"
                 placeholder="Numer kontaktowy"
                 formControlName="phoneNumber">
        </label>
        <button
          [disabled]="applicationGroup.invalid"
          type="submit"
          class="btn btn-outline-info pull-right">
          <i class="fa fa-floppy-o" aria-hidden="true"></i> Zapisz
        </button>
      </div>
    </form>
    <ngb-alert *ngIf="applicationSendSuccess" (close)="closeAlert()" type="success">Przyjęto zgłoszenie</ngb-alert>
    {{ applicationGroup.value | json }}
  </div>
</div>
