<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h4>
        <button class="btn btn-outline-success" (click)="back()"><i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
        Dodaj wydarzenie
      </h4>
      <hr>
    </div>
    <div class="col-md-12">
      <form [formGroup]="postFormGroup" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label class="center-block col-md-12">Tytuł:
            <input class="form-control"
                   formControlName="title"
                   placeholder="Tytuł">
          </label>
          <label class="center-block col-md-12">Wiadomość:
            <input class="form-control"
                   formControlName="message"
                   placeholder="Wiadomość">
          </label>
          <button
            type="submit"
            class="btn btn-outline-info pull-right">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Zapisz
          </button>
        </div>
      </form>
      <ngb-alert *ngIf="postCreatedSuccess" (close)="closeAlert()" type="success">Dodano wiadomość</ngb-alert>
      {{ postFormGroup.value | json }}
    </div>
  </div>
</div>
