<app-top-toolbar></app-top-toolbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h2>Drużyny
        <div class="pull-right">
          <button class="btn btn-outline-success"
                  *ngIf="user.role ==='MANAGER'"
                  (click)="createTeam()">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </h2>
      <hr>
    </div>
    <div class="col-md-12">
      <div class="list-group">
        <a (click)="details(team)" *ngFor="let team of teams"
           class="list-group-item list-group-item-action">
          <img class="rounded float-left img" src="http://via.placeholder.com/48x48">
          <h5>{{ team.name}}</h5>
          <div *ngIf="user.role ==='MANAGER' && (!teamToDelete || teamToDelete.id != team.id)" class="pull-right">
            <button class="btn btn-outline-warning">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-danger" (click)="delete(team, $post)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
          <div *ngIf="user.role ==='MANAGER' && (teamToDelete && teamToDelete.id == team.id)" class="pull-right">
            <button class="btn btn-outline-warning" (click)="deleteConfirmed($post)">
              <i class="fa fa-check" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-info" (click)="deleteAbort($post)">
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
