<footer>
  <div class="footerHeader"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>About us</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book. It has survived not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.
        </p>
      </div>

      <div class="col-md-4">
        <h3>Our Location </h3>
        <iframe src="" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-md-4">
        <h3>Contact Us</h3>
        <ul>
          <li>Phone : 123 - 456 - 789</li>
          <li>E-mail : info@comapyn.com</li>
          <li>Fax : 123 - 456 - 789</li>
        </ul>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s
        </p>
        <ul class="sm">
          <li><a href="#"><img src="https://www.facebook.com/images/fb_icon_325x325.png" class="img-responsive"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

