<app-top-toolbar></app-top-toolbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h2>Wydarzenie
        <div class="pull-right">
          <button class="btn btn-outline-success" (click)="createPost()">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </h2>
      <hr>
    </div>
    <div class="col-md-12">
      <div class="list-group">
        <a (click)="details(post)" *ngFor="let post of posts"
           class="list-group-item list-group-item-action">

          <h5>{{ post.title }}</h5>
          <p> {{ post.message }}</p>
          <div class="pull-right">
            <h5 class="date">{{ post.createdAt | date:'HH:mm d-LL-yyyy' }}</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
