<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h4>
        <button class="btn btn-outline-success" (click)="back()"><i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
        Utwórz zespół
      </h4>
      <hr>
    </div>
    <div class="col-md-12">
      <form [formGroup]="teamFormGroup" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label class="center-block col-md-12">Nazwa zespołu:
            <input class="form-control"
                   [ngClass]="{'is-invalid':isInvalid('name'), 'is-valid':isValid('name')}"
                   placeholder="Nazwa zespołu"
                   formControlName="name">
            <div *ngIf="isInvalid('name')"
                 class="invalid-feedback">
              <div *ngIf="teamFormGroup.controls['name'].errors.required">
                Wprowadź nazwę zespołu.
              </div>
              <div *ngIf="teamFormGroup.controls['name'].errors.minlength">
                Nazwa zespołu musi zawierać conajmniej 2 litery.
              </div>
            </div>
          </label>
          <label class="center-block col-md-12">Szczegóły:
            <input class="form-control"
                   [ngClass]="{'is-invalid':isInvalid('description'), 'is-valid':isValid('description')}"
                   placeholder="Szczegóły"
                   formControlName="description">
            <div *ngIf="isInvalid('description')"
                 class="invalid-feedback">
              <div *ngIf="teamFormGroup.controls['description'].errors.required">
                Wprowadź szczegóły o zespole.
              </div>
              <div *ngIf="teamFormGroup.controls['description'].errors.minlength">
                Szczegółowe informacje powinny zawierać conajmniej 2 litery.
              </div>
            </div>
          </label>
          <button
            [disabled]="teamFormGroup.invalid"
            type="submit"
            class="btn btn-outline-info pull-right">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Zapisz
          </button>
        </div>
      </form>
      <ngb-alert *ngIf="teamCreatedSuccess" (close)="closeAlert()" type="success">Utworzono zespół</ngb-alert>
      {{ teamFormGroup.value | json }}
      {{ teamFormGroup.status | json }}
    </div>
  </div>
</div>
