<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ng-template #modalContent let-close="close">
        <div class="modal-header">
          <h5 class="modal-title">Event action occurred</h5>
          <button type="button" class="close" (click)="close()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          <div>
            Action:
            <pre>{{ modalData?.action }}</pre>
          </div>
          <div>
            Event:
            <pre>{{ modalData?.event | json }}</pre>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
        </div>
      </ng-template>
      <button class="btn btn-outline-success" (click)="back()"><i class="fa fa-angle-left" aria-hidden="true"></i>
      </button>
      <div class="alert alert-info">
        Click on a day on the view.
        <strong *ngIf="clickedDate">You clicked on this day: {{ clickedDate | date:'medium' }}</strong>
      </div>

      <div class="row text-center">
        <div class="col-md-4">
          <div class="btn-group">
            <div
              class="btn btn-primary"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false">
              Previous
            </div>
            <div
              class="btn btn-outline-secondary"
              mwlCalendarToday
              [(viewDate)]="viewDate">
              Today
            </div>
            <div
              class="btn btn-primary"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false">
              Next
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
        <div class="col-md-4">
          <div class="btn-group">
            <div
              class="btn btn-primary"
              (click)="view = 'month'"
              [class.active]="view === 'month'">
              Month
            </div>
            <div
              class="btn btn-primary"
              (click)="view = 'week'"
              [class.active]="view === 'week'">
              Week
            </div>
          </div>
        </div>
      </div>
      <br>
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="'week'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
      </div>

      <br><br><br>

      <div *ngIf="editDay">
        <h3>
          Edit events

          <div class="clearfix"></div>
        </h3>

        <table class="table table-bordered">

          <thead>
          <tr>
            <th>Title</th>
            <th>Starts at</th>
            <th>Add</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>
              <input
                type="text"
                [(ngModel)]="title"
                class="form-control"
                (keyup)="refresh.next()">
            </td>

            <td>
              <mwl-demo-utils-date-time-picker
                [(ngModel)]="dateClicked"
                (ngModelChange)="refresh.next()">
              </mwl-demo-utils-date-time-picker>
            </td>
            <td>
              <button
                class="btn btn-primary pull-right"
                (click)="addEvent()">
                Add new
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
