<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <button type="button"
              class="btn btn-success"
              routerLink="/coach-page"
              routerLinkActive="active">Back
      </button>
      <button type="button"
              class="btn btn-success"
              routerLink="/coach-page"
              routerLinkActive="active">Userpage
      </button>
      <hr>
    </div>
    <div class="col-md-12">
      <div class="card" [formGroup]="playerFormGroup" (ngSubmit)="editConfirmed()">
        <h5 class="card-header">Zawodnik</h5>
        <div class="card-body row">
          <div class="col-md-4"><img class="img" src="http://via.placeholder.com/250x250"></div>
          <div class="col-md-8">
            <dl class="row">
              <dt class="col-sm-2">First name:</dt>
              <dd class="col-sm-10" *ngIf="!editPlayer">{{ player?.firstName }}</dd>
              <input *ngIf="editPlayer"
                     class="col-sm-10"
                     placeholder="{{ player?.firstName }}"
                     formControlName="firstName">
            </dl>
            <dl class="row">
              <dt class="col-sm-2">Last name:</dt>
              <dd class="col-sm-10" *ngIf="!editPlayer">{{ player?.lastName }}</dd>
              <input
                *ngIf="editPlayer"
                class="col-sm-10"
                placeholder="{{ player?.lastName }}"
                formControlName="lastName">
            </dl>
            <dl class="row">
              <dt class="col-sm-2">Team:</dt>
              <dd class="col-sm-10">{{ player?.team.name }}</dd>
            </dl>
          </div>
        </div>
        <div class="card-footer bg-transparent">
          <div class="pull-right" *ngIf="!confirmDelete && !editPlayer">
            <button class="btn btn-outline-warning" (click)="edit()">
              <i class="fa fa-pencil" aria-hidden="true"></i> Update</button>
            <button class="btn btn-outline-danger" (click)="delete()">
              <i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
          </div>
          <div class="pull-right" *ngIf="confirmDelete">
            <button class="btn btn-outline-warning" (click)="deleteConfirmed()">
              <i class="fa fa-check" aria-hidden="true"></i> Sure</button>
            <button class="btn btn-outline-info" (click)="abortDelete()">
              <i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
          </div>
          <div class="pull-right" *ngIf="editPlayer">
            <button class="btn btn-outline-warning" (click)="editConfirmed()">
              <i class="fa fa-check" aria-hidden="true"></i> Sure</button>
            <button class="btn btn-outline-info" (click)="abortEdit()">
              <i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <ngb-alert *ngIf="playerEditedSuccess" (close)="closeAlert()" type="success">Edytowano zawodnika</ngb-alert>
  </div>
</div>

