<app-top-toolbar></app-top-toolbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <button type="button"
              class="btn btn-success"
              routerLink="/teams"
              routerLinkActive="active">Back
      </button>
      <button type="button"
              class="btn btn-success"
              routerLink="/coach-page"
              routerLinkActive="active">Userpage
      </button>
      <hr>
    </div>
    <div class="col-md-12">
      <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body row">
          <div class="col-md-4"><img class="img" src="http://via.placeholder.com/250x250"></div>
          <div class="col-md-8">
            <dl class="row">
              <dt class="col-sm-2">Nazwa zespołu:</dt>
              <dd class="col-sm-10">{{ team?.name }}</dd>
            </dl>
          </div>
        </div>
        <div class="card-footer bg-transparent">
          <div class="pull-right" *ngIf="!confirmDelete">
            <button class="btn btn-outline-warning">
              <i class="fa fa-pencil" aria-hidden="true"></i> Update</button>
            <button class="btn btn-outline-danger" (click)="delete()">
              <i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
          </div>
          <div class="pull-right" *ngIf="confirmDelete">
            <button class="btn btn-outline-warning" (click)="deleteConfirmed()">
              <i class="fa fa-check" aria-hidden="true"></i> Sure</button>
            <button class="btn btn-outline-info" (click)="abortDelete()">
              <i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-12">
      <div class="list-group">
        <a *ngFor="let players of teamPlayers"
           class="list-group-item list-group-item-action">
          <img class="rounded float-left img" src="http://via.placeholder.com/48x48">
          <h5>{{ players.firstName }} {{ players.lastName }}</h5>
        </a>
      </div>
    </div>
  </div>
</div>

