<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h2>Zgłoszenia</h2>
    </div>
    <div class="col-md-12">
      <div class="list-group">
        <a (click)="details(application)"
          *ngFor="let application of applications"
           class="list-group-item list-group-item-action">
          <h5>{{ application.firstName }} {{ application.lastName }}</h5>
        </a>
      </div>
    </div>
  </div>
</div>
