<mat-toolbar color="primary">
  <button *ngIf="!user" mat-button routerLink="/"><i class="fa fa-soccer-ball-o fa-4x" aria-hidden="true"></i> {{ title }}</button>
  <button *ngIf="user && user.role === 'COACH'" mat-button routerLink="/coach-page"><i class="fa fa-soccer-ball-o fa-4x" aria-hidden="true"></i> {{ title }}</button>
  <button *ngIf="user && user.role === 'MANAGER'" mat-button routerLink="/manager"><i class="fa fa-soccer-ball-o fa-4x" aria-hidden="true"></i> {{ title }}</button>

  <button *ngIf="user && user.role === 'COACH'" mat-button routerLink="/coach-page">Zawodnicy <i class="fa fa-users" aria-hidden="true"></i></button>
  <button *ngIf="user" mat-button routerLink="/teams">Drużyny </button>
  <button *ngIf="user" mat-button routerLink="/posts">Wydarzenia </button>
  <button *ngIf="user" mat-button routerLink="/calendar">Terminarz <fa [name]="'calendar'"></fa></button>
  <button *ngIf="!user" mat-button routerLink="/newuser">Zgłoś się <i class="fa fa-user-plus" aria-hidden="true"></i></button>

  <button
    *ngIf="user && user.role === 'MANAGER'"
    mat-button
    routerLink="/applications">Zgłoszenia <i class="fa fa-file-o" aria-hidden="true"></i>
  </button>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <button *ngIf="!user" mat-button routerLink="/login">Zaloguj się <fa [name]="'sign-in'"></fa></button>

  <button *ngIf="user"  mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item disabled>
      <fa [name]="'user'"></fa>
      <span *ngIf="user"> {{ user.username }} </span>
    </button>
    <button mat-menu-item disabled>
      <fa [name]="'user'"></fa>
      <span *ngIf="user"> Edytuj Dane </span>
    </button>
    <button mat-menu-item (click)="logout()">
      <fa [name]="'sign-out'"></fa>
      <span> Wyloguj </span>
    </button>
  </mat-menu>

</mat-toolbar>
