<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h2>Players
        <div class="pull-right" *ngIf="user.role === 'COACH'">
          <button class="btn btn-outline-success" (click)="createPlayer()">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
          </button>
        </div>
      </h2>
      <hr>
    </div>
    <div class="col-md-12">
      <div class="list-group">
        <a (click)="details(player)" *ngFor="let player of players"
           class="list-group-item list-group-item-action">
          <img class="rounded float-left img" src="http://via.placeholder.com/48x48">
          <h5>{{ player.firstName }} {{ player.lastName }}</h5>
          <div *ngIf="!playerToDelete || playerToDelete.id != player.id" class="pull-right">
            <button class="btn btn-outline-danger" (click)="delete(player, $post)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
          <div *ngIf="playerToDelete && playerToDelete.id == player.id" class="pull-right">
            <button class="btn btn-outline-warning" (click)="deleteConfirmed($post)">
              <i class="fa fa-check" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-info" (click)="deleteAbort($post)">
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
