<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h4>
        <button class="btn btn-outline-success" (click)="back()"><i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
        Utwórz zawodnika
      </h4>
      <hr>
    </div>
    <div class="col-md-12">
      <form [formGroup]="playerFormGroup" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label class="center-block col-md-12">Imie:
            <input class="form-control"
                   [ngClass]="{'is-invalid':isInvalid('firstName'), 'is-valid':isValid('firstName')}"
                   placeholder="Imie"
                   formControlName="firstName">
            <div *ngIf="isInvalid('firstName')"
                 class="invalid-feedback">
              <div *ngIf="playerFormGroup.controls['firstName'].errors.required">
                Wprowadź imię.
              </div>
              <div *ngIf="playerFormGroup.controls['firstName'].errors.minlength">
                Imię musi zawierać conajmniej 2 litery.
              </div>
            </div>
          </label>
          <label class="center-block col-md-12">Nazwisko:
            <input class="form-control"
                   [ngClass]="{'is-invalid':isInvalid('lastName'), 'is-valid':isValid('lastName')}"
                   placeholder="Nazwisko"
                   formControlName="lastName">
            <div *ngIf="isInvalid('lastName')"
                 class="invalid-feedback">
              <div *ngIf="playerFormGroup.controls['lastName'].errors.required">
                Wprowadź nazwisko.
              </div>
              <div *ngIf="playerFormGroup.controls['lastName'].errors.minlength">
                Nazwisko powinno zawierać conajmniej 2 litery.
              </div>
            </div>
          </label>
          <label class="center-block col-md-12">Nazwa użytkownika:
            <input
              class="form-control"
              [ngClass]="{'is-invalid':isInvalid('username'), 'is-valid':isValid('username')}"
              formControlName="username"
              placeholder="Nazwa użytkownika">
          </label>
          <label class="center-block col-md-12">Hasło:
            <input
              class="form-control"
              [ngClass]="{'is-invalid':isInvalid('password'), 'is-valid':isValid('password')}"
              formControlName="password"
              placeholder="Hasło">
          </label>
          <label class="center-block col-md-12">
            Drużyna:
            <div class="card">
              <div class="card-body">
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
                  <label *ngFor="let team of teams" ngbButtonLabel class="btn-primary">
                    <input
                      class="form-control"
                      formControlName="team"
                      ngbButton type="radio" [value]="team.id"> {{ team.name }}
                  </label>
                </div>
              </div>
            </div>
          </label>
          <button
            [disabled]="playerFormGroup.invalid"
            type="submit"
            class="btn btn-outline-info pull-right">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Zapisz
          </button>
        </div>
      </form>
      <ngb-alert *ngIf="playerCreatedSuccess" (close)="closeAlert()" type="success">Utworzono zawodnika</ngb-alert>
      {{ playerFormGroup.value | json }}
      {{ playerFormGroup.status | json }}
    </div>
  </div>
</div>
