<!--

  <div class="row align-items-center">
    <div class="col-md-6 login-sec root h3 mb-3">
      <h2 class="text-center ">Logowanie</h2>
      <form (ngSubmit)="login()" [formGroup]="loginGroup" class="login-form col-md-12">
        <div class="form-group">
          <input formControlName="username" type="text" class="form-control" placeholder="Nazwa użytkownika">
        </div>
        <div class="form-group">
          <input formControlName="password" type="password" class="form-control" placeholder="Hasło">
          <div>{{ loginError }}</div>
        </div>
        &lt;!&ndash;      <div class="form-check">
        &lt;!&ndash;        <label class="form-check-label">
                  <input formControlName="remember" type="checkbox" class="form-check-input">
                  <small>Remember Me</small>
                </label>&ndash;&gt;

              </div>&ndash;&gt;
        <button

          type="submit" class="btn btn-lg btn-primary btn-block">Zaloguj się
        </button>
      </form>
    </div>
  </div>
</div>-->


<button class="align-top" mat-mini-fab color="black" routerLink="/"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
<div class="container text-center">
<form class="form-signin" (ngSubmit)='login()' [formGroup]="loginGroup">
  <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>
  <input formControlName="username" type="text" class="form-control" placeholder="Nazwa użytkownika" required autofocus>
  <input type="password" formControlName="password" class="form-control" placeholder="Hasło" required>
  <button [disabled]="loginGroup.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
  <div class="error-message">{{ loginError }}</div>
</form>
</div>
{{ loginGroup.value | json }}
{{ loginGroup.status | json }}
